html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --index: calc(1vh + 1vw);
  --accet-col: #F8F200;
  --dark-col: #000;
  --gray-col: #fff;
  --typog-col: #52BEDC;
  --container-width: calc(var(--index) * 42.5);
  --pdmn: calc(var(--index) * 2.34);
}

body {
  margin: 0;
  color: var(--dark-col);
}

h1, h2, p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

@font-face {
  font-family: robot-a;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: archangelsk-b;
  src: url(../fonts/ofont.ru_Archangelsk.ttf);
  font-style: normal;
}

.title_style {
  font-size: calc(var(--index) * 2.08);
  font-family: archangelsk-b;
  font-style: normal;
  color: inherit;
  font-weight: 700;
}

.text_style-btn {
  font-family: robot-a;
  font-size: calc(var(--index) * 1.5);
  font-style: normal;
  color: inherit;
}

.text_style-main {
  /* color: var(--gray-col); */
  font-family: robot-a;
  font-size: calc(var(--index) * .7);
  font-style: normal;
  font-weight: 400;
  line-height: calc(var(--index) * 1.04);

}


/* Шапка */
.header {
  min-height: calc(var(--index) * 33.3);
  background: url(../img/background-heder.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.content {
  margin: 0 auto;
  max-width: var(--container-width);
}

.header__content {
  position: relative;
  min-height: 100%;
}

.header__nav-container {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.hader__nav-item {
  align-self: center;
}

.logo {
  display: block;
  min-width: calc(var(--index) * 9.9);
}

.header__list-social {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: calc(var(--index) * 1.3);
  list-style: none;
}

.header__list-item:hover {
  transform: scale(1.1);
}

.header__icon {
  min-width: calc(var(--index) * 1);
  min-height: calc(var(--index)* 1);
}


.header__banner-info {
  position: absolute;
  top: calc(var(--index) * 21.1);
  left: calc(var(--index) * 21.7);
  /* padding: calc(var(--index) * 2.3); */
  /* max-width: calc(var(--index) * 20); */
  padding: calc(var(--index) * 2.3);
  background-color: var(--accet-col);
  clip-path: polygon(0 14%, 9% 0, 100% 0, 100% 88%, 92% 100%, 0 100%);

}

.header__banner-title {
  margin-bottom: calc(var(--index) * .8);
  min-width: calc(var(--index) * 16.1);
}

.header__banner-link {
  display: inline-block;
  padding: calc(var(--index) * .8) calc(var(--index) * 1.8);
  font-size: calc(var(--index) * .8);
  text-decoration: none;
  background-color: var(--dark-col);
  color: var(--accet-col);
  transition: 1.1s;
}

.header__banner-link:hover {
  transform: scale(1.03);
  box-shadow: #000 0 0 35px;
}


/* Описание */
.description {
  padding-top: var(--pdmn);
  min-width: 100%;

}

.description::after {
  content: '';
  display: block;
  min-height: var(--pdmn);
  background: url(../img/line-cast.svg) no-repeat;
  background-position: center;
  background-size: cover;

}

.description__content {}

.description__text-content {}

.description__title {
  margin-bottom: calc(var(--index));
}

.description__text {
  margin-bottom: calc(var(--index) * 1.09);
  max-width: calc(var(--index) * 33);
}

.description__img-content {
  margin-bottom: var(--pdmn);
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

.description__img_grid-item-1 {
  grid-column-start: 1;
  min-width: calc(var(--index) * 15.2);
}

.description__img_grid-item-2 {
  grid-column-start: 1;
  grid-row-start: 2;
  min-width: calc(var(--index) * 15.2);
}

.description__img_grid-item-3 {
  grid-column-start: 2;
  grid-row-start: span 2;
  min-width: calc(var(--index) * 26);
}


/* Акция */
.draw__wrapper {
  display: flex;
}

.draw {
  color: #fff;
  min-height: calc(var(--index) * 40);
  background-color: var(--dark-col);
}

.draw__content {}

.draw__text-content {
  margin-bottom: 50px;
}

.draw__icon {}

.draw__title {}

.draw__text {}

.draw__form {
  margin-right: 32px;
  min-width: calc(var(--index) * 15.35);
  display: flex;
  flex-direction: column;
}

.draw__lable-name {}

.draw__lable-email {}

.draw__sen-file {}

.draw__label-file {}

.draw__btn {}

.draw__label-check {}


/* Бокс с картинками */
.draw__img-container {
  /* padding-left: 164px;
  padding-top: 25px; */
  min-width: calc(var(--index) * 26.27);
  background: url(../img/bgc-draw.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.draw__main-layer {
  display: flex;
}

/* .draw__main-layer:first-child {
  margin-right: 32px;
} */

/* .draw__layer-2 {
  display: flex;
  justify-content: flex-end;
  transform: translateY(-83%);
}

.draw__img_tran_lr-2 {
  transform: translateX(30%);
} */